body {
    font-family: sans-serif;
    background: rgb(218,0,255);
    background: linear-gradient(90deg, rgba(218,0,255,1) 0%, rgba(255,57,244,1) 29%, rgba(252,177,255,1) 100%);
}

.contenedor {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ecb1e6;
    border-radius: 5px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.acciones {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8c07df;
    color: #ffffff;
    cursor: pointer;
}

a {
    color: #840592;
    text-decoration: none;
}
.boton {
    width: 200px;
    /* ajusta el ancho según tus necesidades */
    height: auto;
    /* para mantener la proporción de la imagen */
    margin: 0 10px;
    /* ajusta el espacio entre las imágenes según tus necesidades */
}

.botones-container {
    display: flex;
    /* convierte el contenedor en un contenedor flex */
    justify-content: center;
    /* centra los elementos horizontalmente */
    align-items: center;
    /* centra los elementos verticalmente */
    margin-top: 40px;
    /* Agregar espacio superior */
}